*
{
    margin: 0;
    padding: 0;
}
header
{
  background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(img/contact_bg.jpg);
    height: 100%;
    background-size: cover;
    background-position: center;
}


.hero
{
    position: absolute;
	color: black;
    width: 1200px;
    margin-top: 150px;
    margin-left: 240px;
	font-size: 18px;
    
}

#navbar {
  overflow: hidden;
  opacity:0.8;
  z-index: 1;
  background-color: #000000;
  transition: top 0.3s;
   font-family: 'Oleo Script Swash Caps', cursive;
}

#navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 46px;
  text-decoration: none;
  font-size: 18px;
}

#navbar a:hover {
  background-color: #FFFF99	;
  color: black;
}

#navbar a.active {
  background-color: #000000	;
  color:  #FFFF99;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
.parallax {
    /* The image used */
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('pic10.jpg');
	
    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.div1
{
	background-color: black;
	opacity:0.6; 
	width: 1240px;
	height: 570px;
	position: fixed;
	margin-left: 52px;
	margin-top: 20px;	
}

#map {
		
		position: absolute;
   top: 22%;
   
   width: 460px;
   height: 65%;
   margin-top: 55px;
   margin-left:870px;
       }
.headings
{
font-family: 'Sacramento', cursive;
color:#FFEFD5;
font-size: 50px;
margin-top:80px;
margin-left: 100px;
}
.sub
{font-family: 'Podkova', serif;
color:#FFFFFF;
font-size: 20px;
margin-top:-50px;
margin-left: 440px;
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 20px;
  position:relative;
  text-align: center;
  text-decoration: none;
  margin: 40px 7px;
  border-radius:50px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-pinterest {
  background: #cb2027;
  color: white;
}
.social
{
margin-left:240px;
}